body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.superior {
  align-items: flex-start;
  background-image: url("../images/gato.png");
  background-position: center;
  display: flex;
  height: 60vh;
  margin: 0;
  padding: 0;
}
.inferior {
  display: flex;
  height: 60vh;
  justify-content: center;
}
.esquerda {
  background-color: white;
  height: 100%;
  text-align: center;
  width: 5%;
}
.direita {
  height: 100%;
  width: 95%;
}
.superior .esquerda .elemento {
  margin-bottom: 20px;
  margin-top: 20px;
}
.direita h1 {
  color: white;
  position: absolute;
  right: 30%;
  text-align: justify;
  top: 100px;
  width: 30%;
}
.direita .agendar button {
  background-color: #f28907;
  border: 5px solid #f28907;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  right: 30%;
  top: 35%;
  width: 30%;
}
.direita .login button {
  background-color: #f28907;
  border: 5px solid #f28907;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  right: 15%;
  top: 5%;
  width: 10%;
}
.direita .cadastro button {
  background-color: #f28907;
  border: 5px solid #f28907;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  right: 4%;
  top: 5%;
  width: 10%;
}
.noticia {
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  height: 80%;
  justify-content: center;
  width: 80%;
}
.noticia .item {
  height: 100%;
  text-align: center;
  width: 100%;
}
.cuidador .caixa .cima {
  background-color: #f28907;
}
.inferior .noticia img {
  height: 100%;
  width: 65%;
}
.destaque {
  color: #f28907;
}
