body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.titulo {
  text-align: center;
}
form {
  height: 80vh;
}
.caixa {
  display: flex;
  justify-content: center;
}
.caixa .elemento {
  height: 80vh;
  margin-right: 20px;
  width: 45%;
}
.caixa input[type="text"],
select {
  border: 5px solid #f28907;
  border-radius: 15px;
  box-shadow: 0 0 4px #f28907;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}
.caixa input[type="date"] {
  border: 5px solid #f28907;
  border-radius: 15px;
  box-shadow: 0 0 4px #f28907;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px;
  width: 50%;
}
.caixa2 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  text-align: center;
}
.caixa2 .elemento1 {
  margin-right: 20px;
  width: 45%;
}
.botao {
  text-align: center;
}
button {
  background-color: #f28907;
  border: 5px solid #f28907;
  border-radius: 15px;
  padding: 10px;
  width: 60%;
}
.destaque,
label {
  color: #f28907;
}
