style {
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
}


body {
    background: #F28907; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-family: 'Montserrat', sans-serif 
}

p {
    position: absolute;
    width: 321px;
    height: 17px;
    left: 77px;
    top: 219px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #F5F5F5;    
}

input {
    position: absolute;
    height: 50px;
    width: auto;
    left: 90px;
    right: 1px;
    bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    max-width: fit-content;
}

select {
    position: absolute;
    height: 50px;
    width: auto;
    left: 90px;
    right: 1px;
    bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    max-width: fit-content;
}
#box-info {
position: absolute;
width: 1342px;
height: 570px;
left: 49px;
top: 325px;


background: rgba(255, 255, 255, 0.97);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 17px;
}

#imagem-cliente {
position: absolute;
width: 161px;
height: 161px;
left: 131px;
top: 50px;

background: url("../../images/cliente.png"), url("../../images/cliente.png");
border-radius: 76px;
}

#vetor-lapis {

position: absolute;
left: 26.64%;
right: 71.55%;
top: 37.27%;
bottom: 60.35%;

background: url("../../images/vetor_lapis.png"), url("../../images/vetor_lapis.png");
}

#retangulo-1 {

position: absolute;
width: 372px;
height: 78px;
left: 102px;
top: 380px;

background: #FFFFFF;
box-shadow: 0px 0px 3px 4px rgba(242, 137, 7, 0.7);
border-radius: 21px;
}

#texto-nascimento {

position: absolute;
width: 163.26px;
height: 54.72px;
left: 175px;
top: 406px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
display: none;
color: rgba(0, 0, 0, 0.5);
}

#vetor-lapis-calendario {

position: absolute;
left: 27.64%;
right: 70.6%;
top: 54.84%;
bottom: 41.6%;

background: url(../../images/vetor_lapis_laranja.png);
background-repeat: no-repeat;
}

#vetor-calendario {

position: absolute;
left: 8.61%;
right: 89.70%;
top: 54.75%;
bottom: 41.85%;

background: url(../../images/vetor_calendario.png);
background-repeat: no-repeat;
}

#retangulo-2 {

position: absolute;
width: 409px;
height: 78px;
left: 546px;
top: 380px;

background: #FFFFFF;
box-shadow: 0px 0px 3px 4px rgba(242, 137, 7, 0.7);
border-radius: 21px;
}

#texto-email {

position: absolute;
width: 321px;
height: 55px;
left: 614px;
top: 403px;
display: none;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;

color: rgba(0, 0, 0, 0.5);
}

#vetor-email {

position: absolute;
left: 37.2%;
right: 60.1%;
top: 55.04%;
bottom: 41.76%;

background: url(../../images/vetor_email.png);
background-repeat: no-repeat;
}

#vetor-lapis-email {

position: absolute;
left: 58.75%;
right: 39.45%;
top: 54.84%;
bottom: 41.52%;

background: url(../../images/vetor_lapis_laranja.png);
background-repeat: no-repeat;
}

#retangulo-3 {

position: absolute;
width: 372px;
height: 78px;
left: 990px;
top: 380px;

background: #FFFFFF;
box-shadow: 0px 0px 3px 4px rgba(242, 137, 7, 0.7);
border-radius: 21px;
}

#texto-localizacao {

position: absolute;
width: 227px;
height: 34px;
left: 1058px;
top: 403px;
display: none;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;

color: rgba(0, 0, 0, 0.5);
}

#vetor-lapis-localizacao {

position: absolute;
left: 87.32%;
right: 10.9%;
top: 54.36%;
bottom: 42%;

background: url(../../images/vetor_lapis_laranja.png);
background-repeat: no-repeat;
}

#vetor-localizacao {

position: absolute;
left: 67.11%;
right: 31.52%;
top: 54.5%;
bottom: 41.8%;

background: url(../../images/vetor_localizacao.png);
background-repeat: no-repeat;
}

#retangulo-4 {

position: absolute;
width: 373px;
height: 75px;
left: 102px;
top: 524px;

background: #FFFFFF;
box-shadow: 0px 0px 3px 4px rgba(242, 137, 7, 0.7);
border-radius: 21px;
}

#vetor-lapis-telefone {

position: absolute;
left: 27.64%;
right: 70.55%;
top: 74.12%;
bottom: 22.25%;

background: url(../../images/vetor_lapis_laranja.png);
background-repeat: no-repeat;
}

#texto-telefone {

position: absolute;
width: 251px;
height: 31px;
left: 182px;
top: 544px;
display: none;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;

color: rgba(0, 0, 0, 0.5);
}

#vetor-telefone {

position: absolute;
left: 8.44%;
right: 89.89%;
top: 73.8%;
bottom: 23%;

background: url(../../images/vetor_telefone.png);
background-repeat: no-repeat;
}

#retangulo-5 {

position: absolute;
width: 372px;
height: 78px;
left: 546px;
top: 524px;

background: #FFFFFF;
box-shadow: 0px 0px 3px 4px rgba(242, 137, 7, 0.7);
border-radius: 21px;
}

#vetor-lapis-cpf {

position: absolute;
left: 57.72%;
right: 40.5%;
top: 74.64%;
bottom: 21.7%;

background: url(../../images/vetor_lapis_laranja.png);
background-repeat: no-repeat;
}

#vetor-cpf { 

position: absolute;
left: 37.51%;
right: 60.8%;
top: 74.32%;
bottom: 22.45%;

background: url(../../images/vetor_cpf.png);
background-repeat: no-repeat;
}

#texto-cpf {

position: absolute;
width: 292px;
height: 54.72px;
left: 614px;
top: 539px;
display: none;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 45px;

color: rgba(0, 0, 0, 0.5);
}

#retangulo-6 {

position: absolute;
width: 372px;
height: 75px;
left: 990px;
top: 524px;

background: #FFFFFF;
box-shadow: 0px 0px 3px 4px rgba(242, 137, 7, 0.7);
border-radius: 21px;
}

#texto-sexo {

position: absolute;
width: 251px;
height: 31px;
left: 1068px;
top: 542px;
display: none;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;

color: rgba(0, 0, 0, 0.5);
}

#vetor-sexo {

position: absolute;
left: 67.6%;
right: 30.7%;
top: 74.32%;
bottom: 22.3%;

background: url(../../images/vetor_sexo.png);
background-repeat: no-repeat;
}

#vetor-lapis-sexo {

position: absolute;
left: 87.32%;
right: 10.88%;
top: 74.52%;
bottom: 21.85%;

background: url(../../images/vetor_lapis_laranja.png);
background-repeat: no-repeat;
}

#altere-senha {

position: absolute;
width: 351px;
height: 31px;
left: 102px;
top: 790px;
cursor: pointer; 
pointer-events: auto; 

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #F28907;
}

#altere-senha:hover {
    text-decoration: underline;
}

#botao-confirmar {

position: absolute;
width: 383px;
height: 96px;
left: 959px;
top: 757px;
cursor: pointer; 
pointer-events: auto;

background: #F28907;
border-radius: 11px;
}

#botao-confirmar:hover {
    text-decoration: underline;
}
#mensagem-confirmar {

position: absolute;
width: 392px;
height: 31px;
left: 939px;
top: 788px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #FFFFFF;
}
