body {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    height: 100vh;
}
.esquerdo {
    width: 50%;
    background-image: url('../../images/gatinho.png');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 25%;
}
.direito {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    color: orange;
}
form {
    width: 85%;
    text-align: center;
}

.foto {
    padding: 30px;
}
.foto input[type="file"] {
    border-radius: 50%; /* Define o formato de círculo */
    border: 5px solid orange; /* Adiciona uma borda */
    padding: 50px; /* Espaçamento interno */
    width: 150px; /* Largura do input */
    height: 150px; /* Altura do input */
    box-sizing: border-box; /* Inclui a largura da borda no cálculo do tamanho total */
    background-image: url('../../images/foto-do-animal\(arquivo\).png');
    cursor: pointer;
}
.nome { 
    padding: 10px;
}

.nome input[type="text"] {
    width: 44.5%;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid orange;
}

.email{
    padding: 10px;
}
.email input[type="email"] {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid orange;
}
.button button {
    width: 80%;
    background-color: orange;
    border-radius: 20px;
    height: 50px;
    padding: 20px;
    
    
}

.button {
    padding: 60px;
    height: 50px;
    text-align: center;
    
    
}
a {
    color: white;
    font-weight: bold;
}