body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
}
.esquerda {
    width: 50%;
    background-image: url('../../images/cachorro-login.jpg');
    background-position: center;
}
.direita {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}
img {
    width: 256px;
}
form {
    width: 35%;
    height: 225px;
    background-color: rgb(255, 255, 255); 
    position: relative;
    z-index: 2;
}
input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0; 
    box-sizing: border-box;
    background-image: url('../../images/boneco-login.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px; 
    border-radius: 15px; 
    color: #F28907; 
    border-color: #F28907;
    border-style: solid;
    box-shadow: 0 0 4px #F28907;
}
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
    background-image: url('../../images/cadeado-login.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
    border-radius: 15px;
    color: #F28907;
    border-color: #F28907;  
    border-style: solid; 
    box-shadow: 0 0 4px #F28907;
}
input[type="submit"] {
    background-color: #F28907;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 10px center;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
}
.senha a {
    margin-left: 150px;
    color: #F28907;
}
.senha{
    margin-bottom: 130px;
    color: #F28907;
}
.conta a{
    color: #F28907;
}