body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
}
.esquerda {
    width: 50%;
    background-image: url('../../images/cachorro-login.jpg');
    background-position: center;
}
.direita {
    padding-top: center;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
img {
    width: 256px;
}
form {
    width: 45%;
}
input[type="email"] {
    background-image: url('../../images/boneco-login.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 10px center;

}
input[type="password"] {
    background-image: url('../../images/cadeado-login.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 10px center;  
}
input[type="password"], input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
    padding-left: 40px;
    border-radius: 15px;
    color: #F28907;  
    box-shadow: 0 0 4px #F28907;
    border: 5px solid #F28907;
}
button {
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    background-color: #F28907;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
}
.opcoes a {
    margin-left: 150px;
    color: #F28907;
}
.opcoes{
    margin-bottom: 70px;
    color: #F28907;
}
.conta a{
    color: #F28907;
}